/*Global Styles 
_____________________________________*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}

a {
  color: #ffe66d;
  color: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-weight: 600;
}

h1,
h2 {
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0; /* top/bottom l/r */
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Custom button styles */
.btn-primary {
  background-color: #2f3061;
  border-color: #2f3061;
}

.btn-primary:hover {
  background-color: #f7fff7;
  border-color: #2f3061;
  color: #2f3061;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  background-color: #f7fff7;
  border-color: #2f3061;
  color: #2f3061;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #f7fff7;
  border-color: #2f3061;
  color: #2f3061;
}

/* eliminates the focus border */
.navbar-toggler:focus {
  box-shadow: none;
}

#About,
#Projects,
#Technology,
#Work,
#Education,
#Contact {
  scroll-margin-top: 60px;
}

/*Profile 
_____________________________________*/
header {
  background: #2f3061;
  color: #f7fff7;
}

header h1,
header h2 {
  text-align: center;
}

header h2 {
  margin-bottom: 16px;
}

/*Projects 
_____________________________________*/
.projects {
  background: #f7fff7;
}

.project-item h3 {
  margin-top: 0;
}

.project-img-fixed {
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
}

.project-desc-fixed {
  max-height: 50px;
  overflow-y: hidden;
  margin-bottom: 1rem;
}

.proj-desc-more {
  text-align: center;
  margin-bottom: 0.25rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.proj-desc-less {
  padding-top: 1rem;
  margin-top: -2.75rem;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    #f7fff7
  );
}

/*Technology
_____________________________________*/
.technology {
  background: #babfba;
}

.tech-container {
  text-align: center;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.tech-container-top {
  display: flex;
  border-top: 1px solid #343434;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.techIcon {
  height: 4rem;
  width: 4rem;
  padding: 0.25rem;
  margin: 0.35rem;
  border: 1.5px solid #343434;
  border-radius: 0.25rem;
}

.black {
  background-color: #343434;
}

.white {
  background-color: white;
}

.gisTechItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 0.1rem;
  padding: 0.25rem;
  border: 1.5px solid #343434;
  border-radius: 0.25rem;
}

.gisTechItem img {
  max-height: 35px;
  width: auto;
}

.gisTechItem h6 {
  margin: 0;
  flex-grow: 1;
}

/*Work exp
_____________________________________*/
.work-exp {
  background: #a1c6d7;
}

/*Education
_____________________________________*/
.education {
  background: #ffec5c;
  padding-bottom: 30px;
}

.education section {
  padding-bottom: 30px;
}

/*Contact info
_____________________________________*/
footer {
  background: #343434;
  color: #f7fff7;
  text-align: center;
}

#Contact h2 {
  padding-bottom: 1rem;
}

.contactIcon {
  height: 2rem;
  width: 2rem;
}
